In [1]:
import pandas as pd
from pandas import Series,DataFrame

In [3]:
data=pd.Series([4,5,-5,3])
data

0    4
1    5
2   -5
3    3
dtype: int64

In [4]:
data.values

array([ 4,  5, -5,  3])

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
data2=pd.Series([4,7,-5,3],index=['a','b','c','d'])
data2

a    4
b    7
c   -5
d    3
dtype: int64

In [8]:
data2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [14]:
data2['a']#切片方法

4

In [13]:
data2.sort_values()

c   -5
d    3
a    4
b    7
dtype: int64

In [15]:
data[data>0]

0    4
1    5
3    3
dtype: int64

In [17]:
data2['b']=6
data2

a    4
b    6
c   -5
d    3
dtype: int64

In [18]:
'b' in data2#布尔型判定

True

In [24]:
sdata={'ohio':36000,'texas':71000,'oregon':16000,'utah':5000}
data3=pd.Series(sdata)
data3

ohio      36000
texas     71000
oregon    16000
utah       5000
dtype: int64

In [26]:
stats=['california','ohio','texas','oregon','utah']

In [27]:
data4=pd.Series(sdata,index=stats)

In [28]:
data4

california        NaN
ohio          36000.0
texas         71000.0
oregon        16000.0
utah           5000.0
dtype: float64

In [31]:
data4.isnull()

california     True
ohio          False
texas         False
oregon        False
utah          False
dtype: bool

In [32]:
data4+data3

california         NaN
ohio           72000.0
oregon         32000.0
texas         142000.0
utah           10000.0
dtype: float64

In [33]:
data4.name='test'

In [34]:
data4

california        NaN
ohio          36000.0
texas         71000.0
oregon        16000.0
utah           5000.0
Name: test, dtype: float64